{% extends "base.html" %}
{% block content %}
    <div style="display: flex">
        <div style="flex: 4">
            <h2>Issued Tickets</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Program</th>
                        <th>Zone</th>
                        <th>Row</th>
                        <th>Num</th>
                        <th>Key</th>
                        <th>Inspect</th>
                        <th>Relinquish</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.program }}</td>
                            <td>{{ ticket.qualified_zone }}</td>
                            <td>{{ ticket.row.name }}</td>
                            <td>{{ ticket.number }}</td>
                            <td>{{ ticket.key }}</td>
                            <td><a href="{% url "inspect" pk=ticket.pk key=ticket.key %}">&#x1F440;</a></td>
                            <td>
                                <form action="{% url "relinquish" pk=ticket.pk %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="key" value="{{ ticket.key }}">
                                    <button type="submit">&#128553;</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="flex: 3">
            <h2>Programs</h2>
            <ul>
                {% for program in programs %}
                    <li>
                        {{ program }}
                        {% if program.description %}
                            <br>
                            {{ program.description }}
                        {% endif %}
                        <br>
                        <a href="{% url "reserve" pk=program.pk %}">Reserve...</a>
                        &mdash;
                        <a href="{% url "print" pk=program.pk %}">Print...</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
