{% extends "base.html" %}
{% block content %}
    <div style="display: flex">
        <div style="flex: 1">
            <h2>Issued Tickets</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Program</th>
                        <th>Zone</th>
                        <th>Row</th>
                        <th>Num</th>
                        <th>Key</th>
                        <th>Inspect</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.program }}</td>
                            <td>{{ ticket.zone }}</td>
                            <td>{{ ticket.row.name }}</td>
                            <td>{{ ticket.number }}</td>
                            <td>{{ ticket.key }}</td>
                            <td><a href="{% url "inspect" pk=ticket.pk key=ticket.key %}">&#x1F440;</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="flex: 1">
            <h2>Programs</h2>
            <ul>
                {% for program in programs %}
                    <li><a href="{% url "reserve" pk=program.pk %}">{{ program }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
